# Laravel
/vendor
/node_modules
/public/storage
/storage/*.key
.env
Homestead.json
Homestead.yaml
.phpunit.result.cache

# VS Code
.vscode

# OS
.DS_Store
Thumbs.db

# Composer
composer.lock

# NPM/Yarn
yarn.lock
npm-debug.log*

# Logs
*.log

# IDEs
.idea

